.cardContainer {
    display: flex;
    justify-content: center; 
    height: 80%;
    background  : radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

.cardStyle
{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;

} 

.blur {
  font-size: small;
  opacity: 0.4;
  text-shadow: 0.5px 0.5px;
}

.checkedItem
{
  font-weight: 500;
}

.crossedItem
{
  opacity: 0.5;
  font-weight: 200;
  text-shadow: 0.5px 0.5px;
}
